body {
    display: flex;
    justify-content: center;
    align-items: start;
}

.email {
    width: 75vw;
    height: auto;
    margin: 2em 0;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
}

.logo-container {
    width: 25vh;
}

.logo-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.content {
    width: 100%;
    height: auto;
    text-align: justify;
}

.content ul {
    padding: 0 0 0 1em;
    border-radius: 0;
    box-shadow: none;
    list-style-type: disc;
}

.content li {
    padding: 0 1em;
    text-align: justify;
}

li a {
    display: inline;
    padding: 0;
}

.email-header {
    margin-top: 2em;
    text-align: center;
}

p {
    margin: 1em 0;
}

p:first-child {
    margin: 0;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    padding: 0.5em 1em;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1em;
    color: var(--main-color);
    background: #fff;
    border: 1px solid var(--main-color);
    border-radius: 1.125em;
    box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button:hover {
    background: var(--main-color);
    color: #fff;
    box-shadow: 0.125em 0.125em 0.25em inset rgba(0, 0, 0, 0.25);
}

.sender {
    margin: 1em 0;
    font-weight: bold;
    font-size: 1.125em;
}

.qrcodes {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode {
    padding: 0.5em;
    background: var(--main-color);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrcode img {
    width: 128px;
    height: auto;
}

.qrcode .name {
    margin-top: 0.25em;
    font-weight: bold;
    color: #fff;
}

.margin-bottom {
    margin-bottom: 1em;
}